server:
  port: 8081

spring:
  application:
    name: customer-service
  config:
    import: optional:configserver:http://localhost:9999

  datasource:
    url: jdbc:h2:mem:customer_db
  jpa:
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true

