spring:
  application:
    name: gateway-service
  config:
    import: optional:configserver:http://localhost:9999

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

server:
  port: 8888