
spring:
  application:
    name: discovery-service
  config:
    import: optional:configserver:http://localhost:9999

eureka:
    client:
      register-with-eureka: false
      fetch-registry: false

server:
  port: 8761
