server:
  port: 8082
spring:
  application:
    name: inventory-service
  config:
    import: optional:configserver:http://localhost:9999

  datasource:
    url: jdbc:h2:mem:inventory_db
  jpa:
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true

